@import "tailwindcss";

:root {
  --background: #fff6f9;
  --foreground: #2d1e21;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

* {
  scroll-behavior: smooth;
}
